<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Actix web</title>
</head>

<body>
    <h1>Hi, your link is <a href="/{{ uuid }}/events.ics"">/{{ uuid }}/events.ics</a>!</h1>
    it takes the data from
    <p>
    <form action=" edit_process">
            <input name="uuid" type="hidden" value="{{ uuid }}">
            <input name="link" type="text" value="{{ link }}">
            <input value="Replace" name="replace" type="submit">
            </form>
            </p>
</body>

</html>